.hero-section{
  
    background-image:  url('C:/Users/USER/Desktop/refactory/images/refactory1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    height: 50vh; 
    color: rgb(24, 22, 22);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   }

.main-nav {
    width: 100%;
    text-align: center;
     padding-top: 20px;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;}

 .nav-link {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
 }
 .nav-link:hover {
    color: #007BFF; /* Example hover color */
}


