.container{
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-image: url('https://refactory.academy/wp-content/uploads/2025/08/0G2A8223-2048x1365.jpg');
    
}
.links{
    display: flex;
    gap: 20px;
    align-items: center;
}


.links1{
    display: block;
    gap: 20px;
    justify-content: center;
    align-items: center;
}