.hero-section{
  
    background-image:  url('C:/Users/USER/Desktop/refactory/images/refactory1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    height: 50vh; 
    color: rgb(24, 22, 22);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   }

.main-nav {
    width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;}



